<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rita.mapper.TbItemCatMapper">
	<select id="getTbItemCatById" resultType="com.rita.bean.TbItemCat">
		SELECT * FROM tbitemcat WHERE id = #{id}
	</select>
</mapper>
